%tr.song{:id => song, :rel => $server}
  %td.file
    %a.delete{:href => '#'} del
    = File.basename(song) 
  %td.title= info[:title]
  %td.artist= info[:artist]
  %td.album= info[:album]
  %td.track= info[:track]

