%tr.playlistsong{:id => song}
  %td.file
    %a.set_current{:href => '#'} play
    %a.delete_playlistsong{:href => '#'} del
    = File.basename(song) 
  %td.title= info[:title]
  %td.artist= info[:artist]
  %td.album= info[:album]
  %td.track= info[:track]

