%i{ :style => 'color:#ccc' }= File.basename(song) 
%h1= info[:title]
%h2{ :style => 'color:#999' }= info[:artist]
%h2{ :style => 'color:#666'}= info[:album]
%h3
  %i= info[:track]
  
%img{ :src => "http://#{$server}/song_image/#{song}", :width => "128px", :height => "128px" }
